div.header{
  width: 100%;
  background-color: rgb(45,45,45);
  height: 100px;
  padding: 0;
  color: rgb(140,190,220);
  border-bottom: solid 5px cyan;
  margin-bottom: 1px;
  position: relative;
}

body{
  margin: 0;
  background-color: rgb(15,15,15)

}

.title{
  margin-top: 0px;
  width: 20vw;
  margin-left: 20px;
  text-transform: capitalize;
  line-height: 100px;
  text-decoration: none;
  color:rgb(140,190,220);
  margin-bottom: 0;
  float:left;

}

.Title-link{
  text-decoration: none;
  heignt:100%;
  color:rgb(140,190,220);
}

.sidebar{
  height: 100vh;
  width: 15vw;
  background-color: rgb(45,45,45);
  color:rgb(140,190,220);
  float: left;
  position: sticky;
  top: 0px;
  z-index: 1;
}

h3.sidebar-Title{
  margin-top: 0px;
  margin-left: 10px;
  line-height: 30px;
}

.sidebar-Text{
  margin-left: 30px;
  color: white;
  text-transform: capitalize;
  display: block;
  margin-bottom: 15px;
}

div.post{
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  background-color: rgb(40,40,40);
  padding-bottom:  10px;

}

div.post:hover{
  box-shadow: inset 0px 0px 0px 1px rgb(140,190,220);
}

.post-title{
  font-size: large;
  color: rgb(140,190,220);
  text-transform: capitalize;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2px;
  padding-bottom: 0px;
  padding-top: 15px;

}

.post-image{
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;

}

.post-text{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(230,230,230);

}

.post-subtext{
  font-size: small;
  color: rgb(140,190,220);
  margin-left: 5%;
  margin-top: 0px;
  text-decoration: none;
  display: inline;


}

.class-description{
  color: rgb(100,140,170);
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
  position: absolute;

}

.class-title{
  color: rgb(140,190,220);
  font-size: xxlarge;
  margin-top: 0px;
  text-transform: capitalize;
  display: inline;
  float: left;
  line-height: 100px;
  text-shadow: 100px black;

}

.containter{
  height: 100%;
  margin-right: 40%;
  margin-left: 30%;
  border-left: solid 5px cyan;


}

.class-spacer{
  position: relative;
  margin-left: 35px;
  vertical-align: middle;
  height: 100%;

}

.login-box{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 20%;
  right: 0;
  float: right;

}

.login-input{
  marign-left:10px;
  background color: rgba(200, 200, 200, 0.25);

}

.loggedin-name{
  float: right;
  margin-right: 20px;

}
