<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title>classroom - {{info[1]}}</title>
  </head>
  <body>
    {%include 'header.html'%}
    <div class="header">

      <h1 class="title">{{info[1]}}</h1>
      <div class="containter">
        <div class="class-spacer">
          <p class="class-description">{{info[2]}}</p>
        </div>
      </div>



    </div>
  {%include 'sidebar.html'%}
    {%for i in stuff%}
    {%include 'posts.html'%}
    {%endfor%}
    <br>
  </body>
</html>
