<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">

        <h1 class="title"><a href="/" class="Title-link">Learn.it</a></h1>


        <div class="login-box">
          {%if uid == 0%}
          <br>
          <form class="" action="/login" method="post">
            <input class="login-input" type="text" name="UserName" placeholder="User Name">
            <br><br>
            <input class="login-input" type="text" name="Password" placeholder="Password">
            <input type="submit" name="" value="login">
          </form>
          {%else%}
              <p class="loggedin-name">{{user_name[0]}}</p>
          {%endif%}
        </div>





    </div>
  </body>
</html>
