<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title>learn.it - {{title}}</title>
  </head>
  <body>
    <div class="header">

        <h1 class="title"><a href="/" class="Title-link">Learn.it</a>
          {%if uid !=0%}
<div class="post-button-div">
</div>
{%endif%}
        </h1>

        {%if login != "1"%}
        <div class="login-box">
          {%if uid == 0%}
          <br>
          <form class="" action="/login" method="post">
            <input class="login-input" type="text" name="UserName" placeholder="User Name">
            <button type="button" name="button"><a href="sign-up">sign up</a> </button>
            <br><br>
            <input class="login-input" type="password" name="Password" placeholder="Password">
            <input type="submit" name="" value="login">
          </form>
          {%else%}
          <form class="logout" action="/logout" method="post">
            <input type="submit" name="" value="logout">
          </form>
              <p class="loggedin-name">{{user_name[0]}}</p>

          {%endif%}
        </div>
        {%endif%}





    </div>
  </body>
</html>
