<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title>learnit - {{title}}</title>
  </head>
  <body>
    {%include 'header.html'%}
    {%include 'sidebar.html'%}
    {%for i in stuff%}
    <div class="post">
      <p class="post-title">{{i[1]}}</p>
      {%if i[2] != None%}
      <img class="post-image" src="../static/images/{{i[2]}}" alt="{{i[2]}}" >
      {%endif%}
      {%if i[3] != None%}
      <p class="post-text">{{i[3]}}</p>
      {%endif%}
    </div>
    {%endfor%}
  </body>
</html>
