<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="post">
      <p class="post-title">{{i[1]}}</p>
      <a class="post-subtext" href="/">{{i[5]}}</a>
      <p class="post-subtext">|</p>
      <a class="post-subtext" href="/classroom/{{i[7]}}">{{i[6]}}</a>
      <br><br>
      {%if i[2] != None%}
      <img class="post-image" src="../static/images/{{i[2]}}" alt="{{i[2]}}" >
      {%endif%}
      {%if i[3] != None%}
      <p class="post-text">{{i[3]}}</p>
      {%endif%}
    </div>
  </body>
</html>
