<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/css/style.css">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="sidebar">
      <a href="/c" class="sidebar-Title"><h3 class="sidebar-Title">Classrooms</h3></a>
      {%for i in classrooms%}
        <a href="/c/{{i[1]}}" class="sidebar-Text">{{i[0]}}</a>
      {%endfor%}
    </div>
    {%if uid != 0%}
    <button type="button" class="make-class-link" style="left:20px" >
      <a href="/p">Post</a>
    </button>
    <button type="button" class="make-class-link" >
      <a href="/make_C">+</a>
    </button>
    {%endif%}
  </body>
</html>
