<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {%include 'header.html'%}
    {%include 'sidebar.html'%}
    <div class="post">
      <h1 class="post-title">Sign up</h1>
      <form action="/make_User" method="post">
        <h1 class="post-subtext">Name</h1>
        <input class="text-input" type="text" name="userName" placeholder="User Name"><br>
        <br>
        <h1 class="post-subtext">Description</h1>
        <input class="text-input" type="text" name="description" placeholder="description"><br>
        <br>
        <h1 class="post-subtext">Password</h1>
        <input class="text-input" type ="password" name="password1"placeholder="password"><br>
        <br>
        <h1 class="post-subtext">Confirm Password</h1>
        <input class="text-input" type="password" name="password2" placeholder="confirm password">
        <br><br>
        <input class="submit-input" type="submit"value="submit">
      </form>
    </div>
    {% for message in get_flashed_messages() %}
        <p class="error">{{message}}</p>
    {% endfor %}
  </body>
</html>
