<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {%include 'header.html'%}
    {%include 'sidebar.html'%}
    <div class="post">
      <h1 class="post-title">Sign up</h1>
      <form action="index.html" method="post">
        <input class="text-input" type="text" name="userName" placeholder="User Name"><br>
        <br>
        <input class="text-input" type="text" name="description" placeholder="description"><br>
        <br>
        <input class="text-input" type ="password" name="password1"placeholder="password"><br>
        <br>
        <input class="text-input" type="password" name="password2" placeholder="confirm password">
        <br><br>
        <input class="text-input" type="submit"value="submit">
      </form>
    </div>
  </body>
</html>
